:root {
  --theme-color: #05aa6c;
  --dark-bg-color: #171b1b;
  --grey-bg-color: #232728;
  --placeholder-color: #a9adb3de;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--dark-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ############## HEADER ############ */
header {
  background-color: var(--dark-bg-color) !important;
}

header:hover {
  background-color: var(--theme-color) !important;
}

header:hover .header-title {
  color: white !important;
}

.header-nav {
  padding-left: 100px;
  padding-right: 100px;
}

.header-title {
  color: white !important;
  font-weight: 700;
  font-size: 35px;
  padding-left: 40px;
  padding-right: 40px;
}
.header-subtitle {
  font-weight: 500;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

header a {
  color: white!important;
}

/* ############## Footer ############ */

footer {
  background-color: var(--dark-bg-color) !important;
}

footer .container {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

footer p {
  color: white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

/* ############## FORM ############ */
.form-input {
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}

.Home-form-btn {
  float: right;
  color: white;
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.Home-form-btn:hover {
  color: var(--theme-color) !important;
  background-color: white !important;
  border-color: var(--theme-color) !important;
}

.Home-form-row {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 30px !important;
}

.Home-form-submit-btn {
  color: var(--theme-color) !important;
  background-color: white !important;
  border-color: var(--theme-color) !important;
}

.Home-form-submit-btn:hover {
  color: white;
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}


/* ############## Modal ############ */

.Home-card-view-all-row {
  padding-top: 60px !important;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-card-view-all-btn {
  width: 100%;
  font-size: 23px;
  font-weight: 500;
  border-width: 2px;
  padding-left: 110px;
  padding-right: 110px;
  color: white;
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.Home-card-view-all-btn:hover {
  color: var(--theme-color) !important;
  background-color: white !important;
  border-color: var(--theme-color) !important;
}
