/* ############## SEARCH BAR ############ */
.Home-hero-div {
  min-height: 93vh;
  width: 100%;
  background:url("http://pluspng.com/img-png/learning-png-hd--1201.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: var(--dark-bg-color); */
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--theme-color);
}

.Home-hero-container {
  padding-top: 600px !important;
  padding-bottom: 0px !important;
  margin-right: 300px;
  margin-left: 300px;
  padding-left: 0px;
  padding-right: 0px;
}

.Home-search-bar {
  width: 100%;
}

input.form-control {
  border: white;

}

input::-webkit-input-placeholder {
  color: var(--placeholder-color) !important;
}
.Home-search-bar-btn {
  font-size: 25px;
  font-weight: 700;
  color: white;
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}

.Home-search-bar-btn:hover {
  color: var(--theme-color);
  background-color: white;
  border-color: white;
}

/* ############## CARD ############ */
.Home-card-div {
 background-color: white;
}

.Home-card-row {
 padding-bottom: 30px !important;
}

Card {
  width: 100%;
}

.Home-go-btn {
  color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

.Home-go-btn:hover {
  color: white !important;
  background-color: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}

/* ############## UTILITIES ############ */
.align-center {
  margin: 0 auto;
  float: none;
}

.container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.row {
  padding-top: 0px;
}
